<h1>Redirecting...</h1>

<script>
    const DEFAULT_PAGE = "/en";
    const SPANISH_PAGE = "/es";
    const SPANISH_LOCALE = "es";

    let userLocale = Intl.DateTimeFormat().resolvedOptions().locale;
    let targetPage = userLocale.includes(SPANISH_LOCALE) ? SPANISH_PAGE : DEFAULT_PAGE

    window.location.replace(targetPage);
</script>
