---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "@/i18n/utils";
import GradientEffect from "@/components/vue/GradientEffect.vue";
import GoogleAnalytics from "@/components/GoogleAnalytics.astro";

const lang = getLangFromUrl(Astro.url);

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <!-- Analytics -->
        <!-- <GoogleAnalytics /> -->
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="J. Rai es un desarrollador full stack y de videojuegos que construye experiencias multimedia interactivas."
        />
        <meta name="viewport" content="width=device-width" />

        <!-- og  -->
        <meta property="og:locale" content="es_ES" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:site_name" content="J. Rai" />
        <meta property="og:type" content="website" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:creator" content="@jraidev" />
        <meta property="twitter:site" content="@jraidev" />
        <meta property="og:title" content="J. Rai" />
        <meta
            property="og:description"
            content="J. Rai es un desarrollador full stack y de videojuegos que construye experiencias multimedia interactivas."
        />
        <meta property="og:url" content="https://jrai.dev/" />
        <meta property="og:image" content="https://jrai.dev/og.png" />
        <meta property="twitter:title" content="J. Rai" />
        <meta
            property="twitter:description"
            content="J. Rai es un desarrollador full stack y de videojuegos que construye experiencias multimedia interactivas."
        />
        <meta property="twitter:url" content="https://jrai.dev/" />
        <meta property="twitter:image" content="https://jrai.dev/og.png" />

        <!-- CSS Fonts -->
        <link
            rel="preload"
            href="/styles/fonts.css"
            as="style"
            onload="this.onload = null; this.rel = 'stylesheet'"
        />
        <noscript><link rel="stylesheet" href="/styles/fonts.css" /></noscript>
        
        <!-- Favicon -->
        <link rel="icon" href="/icons/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/icons/apple-touch-icon.png"
        />

        <link rel="manifest" href="/site.webmanifest" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="theme-color" content="#170e25" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <div class="web-container">
            <GradientEffect client:idle client:media="(min-width: 1024px)" />
            <div class="main-wrapper">
                <slot />
            </div>
        </div>
    </body>
</html>
