---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import About from "../../components/About.astro";
import Experience from "../../components/Experience.astro";
import Projects from "../../components/Projects.astro";
---

<BaseLayout title="J. Rai" lang="en">
    <div class="gradient-container">
        <div class="main-wrapper">
            <div class="main-flex-container">
                <Header
                    title="J. Rai"
                    subtitle="Full Stack & Game Developer"
                    tagline="I build interactive multimedia experiences focused on the user experience."
                    githubUser="jraicr"
                    twitterUser="JRaiDev"
                    linkedinUser="SIN CONFIGURAR"
                />

                <main id="content-container" class="content-wrapper">
                    <About />
                    <Experience />
                    <Projects />
                </main>
            </div>
        </div>
    </div>
</BaseLayout>

<script lang="js">
let gradientContainer = document.querySelector(".gradient-container");

let currentScreenWidth;
let gradientMoveFromOrigin = false;

gradientContainer.addEventListener("mousemove", (e) => {
    updateGradientPosition(e);
});

function updateGradientPosition(e) {
    currentScreenWidth = window.innerWidth;

    if (currentScreenWidth >= 1024) {
        gradientMoveFromOrigin = true;
        gradientContainer.style.background = `radial-gradient(600px circle at ${e.pageX}px ${e.pageY}px, hsla(274, 100%, 35%, 0.25), transparent 80%)`;

    } else if (currentScreenWidth < 1024 && gradientMoveFromOrigin) {
        gradientContainer.style.background = `radial-gradient(600px circle at 0px 0px, hsla(274, 100%, 35%, 0.25), transparent 80%)`;
        gradientMoveFromOrigin = false;
    }
}
</script>
