---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import About from "@/components/base/About.astro";
import Experience from "@/components/base/Experience.astro";
import Projects from "@/components/base/Projects.astro";
import Footer from "@/components/base/Footer.astro";
---

<BaseLayout title="J. Rai">
    <div class="main-flex-container">
        <Header
            title="J. Rai"
            subtitle="Full Stack & Game Developer"
            tagline="I build interactive multimedia experiences focused on the user."
            githubUser="jraicr"
            twitterUser="JRaiDev"
            linkedinUser="jraidev"
        />

        <main id="content-container" class="content-wrapper">
            <About />
            <Experience />
            <Projects />
            <Footer />
        </main>
    </div>
</BaseLayout>
