---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import About from "@/components/base/About.astro";
import Experience from "@/components/base/Experience.astro";
import Projects from "@/components/base/Projects.astro";
---

<BaseLayout title="J. Rai" lang="en">
    <div class="gradient-container">
        <div class="main-wrapper">
            <div class="main-flex-container">
                <Header
                    title="J. Rai"
                    subtitle="Full Stack & Game Developer"
                    tagline="I build interactive multimedia experiences focused on the user."
                    githubUser="jraicr"
                    twitterUser="JRaiDev"
                    linkedinUser="SIN CONFIGURAR"
                />

                <main id="content-container" class="content-wrapper">
                    <About />
                    <Experience />
                    <Projects />
                </main>
            </div>
        </div>
    </div>
</BaseLayout>
