---
import RelatedLink from "./RelatedLink.astro";
import ViewFullLink from "./ViewFullLink.astro";
import { Image } from "astro:assets";

interface Props {
    name: string;
    image: string;
}

const { name, image } = Astro.props;
---

<li class="mb-12">
    <div class="project-container gap-4">
        <div class="project-entry">
            <h3 class="project-heading-text">
                <a href="link" class="project-title-link">{name}</a>
            </h3>
            <slot name="desc" />
            <slot name="related-links" />
            <slot name="tech-label" />
        </div>
        <img
            src={image}
            width="200"
            height="48"
            decoding="async"
            class="project-image"
        />
    </div>
</li>

<style>
    .project-container {
        position: relative;
        display: grid;

        padding-bottom: 0.25rem;

        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }

    .project-entry {
        z-index: 10;
    }

    .project-heading-text {
        color: var(--main-headline);
        line-height: 1.375;
        font-weight: 500;
        margin: 0;
        font-size: inherit;
    }

    .project-title-link {
        color: var(--main-headline);
        line-height: 1.25;
        font-weight: 500;
        font-size: 1rem;
        align-items: baseline;
        display: inline-flex;
        text-decoration: inherit;
    }

    .project-text {
        line-height: 1.5;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }

    .project-image {
        color: transparent;
        border-color: var(--image-border);
        border-width: 2px;
        border-radius: 0.25rem;
    }
</style>
