---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    name: string;
    image: ImageMetadata;
    alt: string;
    url: string;
}

const { name, image, alt, url } = Astro.props;
---

<li class="mb-12">
    <div class="content-container gap-4">
        <div class="content-hover-container"></div>
        <div class="content-entry">
            <h3 class="content-heading-text">
                <a href={url} class="content-title-link" target="_blank">
                    <span class="content-link-container"></span>
                    {name}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="content-title-icon"
                        aria-hidden="true"
                        ><path
                            fill-rule="evenodd"
                            d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                            clip-rule="evenodd"></path></svg
                    >
                </a>
            </h3>
            <slot name="desc" />

            <slot name="related-links" />
            <slot name="tech-label" />
        </div>
        <Image
            src={image}
            alt={alt}
            width="200"
            height="48"
            decoding="async"
            class="project-image"
        />
    </div>
</li>

<style>
    .project-image {
        color: transparent;
        border-color: var(--image-border);
        border-width: 2px;
        border-radius: 0.25rem;

        transition-property:
            color,
            background-color,
            border-color,
            text-decoration-color,
            fill,
            stroke,
            opacity,
            box-shadow,
            transform,
            filter,
            backdrop-filter,
            -webkit-backdrop-filter;

        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }

    .content-container:hover .project-image {
        border-color: var(--image-border-hover);
    }

    @media (min-width: 640px) {
        .project-image {
            transform: translate(0, 0.25rem) rotate(0) skewX(0) skewY(0)
                scaleX(1) scaleY(1);

            grid-column: span 2 / span 2;
            order: 1;
        }
    }
</style>
