---
interface Props {
    name: string;
    image: string;
    alt: string;
}

const { name, image, alt } = Astro.props;
---

<li class="mb-12">
    <div class="content-container gap-4">
        <div class="content-hover-container"></div>
        <div class="content-entry">
            <h3 class="content-heading-text">
                <a href="link" class="content-title-link">
                    <span class="content-link-container"></span>
                    {name}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="content-title-icon"
                        aria-hidden="true"
                        ><path
                            fill-rule="evenodd"
                            d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                            clip-rule="evenodd"></path></svg
                    >
                </a>
            </h3>
            <slot name="desc" />

            <slot name="related-links" />
            <slot name="tech-label" />
        </div>
        <img
            src={image}
            alt={alt}
            width="200"
            height="48"
            decoding="async"
            class="project-image"
        />
    </div>
</li>

<style>
    @media (min-width: 640px) {
        .project-image {
            transform: translate(0, 0.25rem) rotate(0) skewX(0) skewY(0)
                scaleX(1) scaleY(1);

            grid-column: span 2 / span 2;
            order: 1;
        }
    }
</style>
