---
import RelatedLink from "./RelatedLink.astro";
import ViewFullLink from "./ViewFullLink.astro";
import { Image } from "astro:assets";

interface Props {
    name: string;
    image: string;
    alt: string;
}

const { name, image, alt } = Astro.props;
---

<li class="mb-12">
    <div class="content-container gap-4">
        <div class="content-hover-container"></div>
        <div class="project-entry">
            <h3 class="project-heading-text">
                <a href="link" class="project-title-link">
                    <span class="content-link-container"></span>
                    {name}
                </a>
                    <slot name="desc" />
            </h3>
            <slot name="related-links" />
            <slot name="tech-label" />
        </div>
        <img
            src={image}
            alt={alt}
            width="200"
            height="48"
            decoding="async"
            class="project-image"
        />
    </div>
</li>

<style>
    .project-entry {
        z-index: 10;
    }

    .project-heading-text {
        color: var(--main-headline);
        line-height: 1.375;
        font-weight: 500;
        margin: 0;
        font-size: inherit;
    }

    .project-title-link {
        color: var(--main-headline);
        line-height: 1.25;
        font-weight: 500;
        font-size: 1rem;
        align-items: baseline;
        display: inline-flex;
        text-decoration: inherit;
    }

    .project-text {
        line-height: 1.5;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }

    .project-image {
        color: transparent;
        border-color: var(--image-border);
        border-width: 2px;
        border-radius: 0.25rem;
    }

    @media (min-width: 640px) {
        .project-entry {
            grid-column: span 6 / span 6;
            order: 2;
        }

        .project-image {
            transform: translate(0, 0.25rem) rotate(0) skewX(0) skewY(0)
                scaleX(1) scaleY(1);

            grid-column: span 2 / span 2;
            order: 1;
        }
    }
</style>
