---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getEntry } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const aboutEntry = await getEntry("about", `${lang}/about`);
const { Content } = await aboutEntry.render();
---

<section id="about" class="content" aria-label="About me">
    <div class="content-title sr-only">
        <h2>{t("nav.about")}</h2>
    </div>

    <div class="about-content">
        <Content>
    </div>
</section>

<style is:inline>
    .about-content p {
        margin-bottom: 1rem !important;
    }

    a:hover {
        color: var(--hover-link-color);
    }
</style>


